<div class="row">
    <div ng-class="item.panelClass" ng-repeat="item in $ctrl.items">
        <div class="panel panel-default k3-panel">
            <div class="panel-heading">
                <h3 class="panel-title" ng-bind="item.panelTitle"></h3>
            </div>
            <div ng-if="item.component" ng-switch="item.component">
                <faqs ng-switch-when="faqs"></faqs>
                <mailer ng-switch-when="mailer"><mailer>
                    <burtsgrid ng-switch-when="burtsgrid"></burtsgrid>
            </div>
            <div class="panel-body" ng-if="!item.component" ng-bind="item.text">
                <div ng-if="item.text"></div>
            </div>
        </div>
    </div>
</div>